    #loading-grizzly {
        position: fixed;
        width: 100%;
        height: 100%;
        background: rgb(255, 255, 255) url('https://loading.io/asset/389950');
        z-index:99999 ;
    }
        
        
        #footer-grizzly {
            background-color: black;
            color: white;
        }

        @media only screen and (max-width: 600px) {
            #img2 {
                height: 300px;
            }

            #text {
                font-size: 5px;

            }

        }



        body {
            background: -webkit-linear-gradient(left, #b6b9bd, #f9fbfc);
        }

       
